<mat-sidenav-container class="min-h-screen bg-gray-100">
  <!-- Sidebar -->
  @if (showSidebar()) {
    <mat-sidenav #sidenav mode="over" [(opened)]="isSidebarOpen" class="w-64">
      <mat-nav-list class="">
        <a mat-list-item routerLink="/">
          <mat-icon matListIcon>home</mat-icon>
          <span>Inicio</span>
        </a>
        <a mat-list-item routerLink="/personas/new-persona-by-other">
          <mat-icon matListIcon>Info</mat-icon>
          <span>Registro</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  }

  <!-- Main content -->
  <mat-sidenav-content>
    <div class="flex flex-col min-h-screen">
      <!-- Header -->
      @if (showHeader()) {
        <header
          class="text-white shadow-sm flex items-center justify-between p-4"
        >
          <div class="flex items-center">
            @if (showSidebar()) {
              <button
                mat-icon-button
                (click)="sidenav()!.toggle()"
                aria-label="Toggle sidebar"
                class="mr-2"
              >
                <mat-icon>menu</mat-icon>
              </button>
            }

            <h1 class="text-xl font-semibold">Registro AADHAAR</h1>
          </div>
          <div>
            <button
              type="button"
              (click)="exit()"
              class="hover:bg-gray-700 rounded-full p-2 transition-colors"
            >
              <mat-icon>logout</mat-icon>
            </button>
            <!-- Puedes añadir un perfil o iconos aquí -->
          </div>
        </header>
      }

      <!-- Content -->
      <main class="flex-1 p-4 md:p-6 overflow-auto">
        <ng-content select="[content]"></ng-content>
      </main>

      <!-- Footer -->
      @if (showFooter()) {
        <footer class="bg-gray-800 text-white p-4 text-center text-sm">
          &copy; {{ year }}
        </footer>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
